<aside class="sidebar">
	<h1>Notes</h1>
	<div class="buttonsContainer">
		<button class="newNoteButton" (click)="newNote()">
			<span class="material-icons" style="font-size: 20px;">add_circle_outline</span>
			New Note
		</button>
		<button class="outlineButton">
			<span class="material-icons" style="font-size: 20px;">add_circle_outline</span>
			All Notes
		</button>
		<button class="outlineButton">
			<span class="material-icons" style="font-size: 20px;">archive</span>
			Archived
		</button>
		<button class="outlineButton">
			<span class="material-icons" style="font-size: 20px;">settings</span>
			Settings
		</button>
	</div>
</aside>
